body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.container-fluid {
  height: 100%;
  width: 100%;
}

html {
  height: -webkit-fill-available;
}
.sidebar {
  grid-area: sidebar;
  padding-bottom: 30px;
  height: "auto" !important;
}

.content {
  grid-area: content;
}

.slider {
  border: solid 20px black;
  border-radius: 50px;
}

.footer {
  grid-area: footer;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 200px 120px auto;
  grid-template-areas:
    "sidebar sidebar content"
    "footer  footer  footer";
  background-color: #fff;
  color: #444;
}

.box {
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  /*font-size: 150%;*/
}

.header,
.footer {
  background-color: #999;
}

.content {
  color: black;
}

@media only screen and (min-width: 320px) {
  .mainpage {
    left: 50%;
  }
}

/*galaxy fold*/
@media only screen and (min-width: 280px) and (max-width: 319px) {
}

/*iPhone 5*/
@media only screen and (max-width: 320px) and (max-height: 568px) {
}

/*iPad*/
@media only screen and (min-width: 768px) and (max-width: 2048px) and (min-height: 600px) and (max-height: 2732px) {
}

/*laptops and bigger screens*/
@media only screen and (min-width: 1224px) {
}
