@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Quicksand:wght@300&display=swap");

body {
  background: #3da3d5;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgb(14, 10, 10);
}

.heading {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.title {
  font-size: 5rem;
  text-align: right;
  font-family: "Bebas Neue", sans-serif;
  align-self: flex-end;
}
.head-image,
.title {
  width: 50%;
}
h3 {
  padding-top: 0.25em;
}

.vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left)
  .vertical-timeline-element-content
  .vertical-timeline-element-date {
  right: 140% !important;
}
.vertical-timeline-element:nth-child(odd):not(.vertical-timeline-element--right)
  .vertical-timeline-element-content
  .vertical-timeline-element-date {
  left: 140% !important;
}
.vertical-timeline--two-columns
  .vertical-timeline-element-content
  .vertical-timeline-element-date {
  font-size: 63px !important;
  top: -4rem !important;
  color: black;
  font-weight: 700;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3em !important;
}

.date {
  color: rgb(201, 251, 255);
}

#description {
  margin: 1.5em 0 2em 0;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}
.text-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 0;
}

.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
  background: aliceblue;
}

.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in:hover {
  background-color: orange;
}
.vertical-timeline--animate
  .vertical-timeline-element-icon.bounce-in:hover
  + .vertical-timeline-element-content
  .vertical-timeline-element-date {
  font-size: 80px !important;
}
.vertical-timeline--animate
  .vertical-timeline-element-icon.bounce-in:hover
  + .vertical-timeline-element-content.bounce-in {
  background-color: orangered;
}

.date,
.vertical-timeline-element-content,
#description {
  font-family: "Quicksand", sans-serif;
}

.vertical-timeline-element-content.bounce-in:nth-child(even):not(.vertical-timeline-element-content--left) {
  width: 33pc !important;
}

.vertical-timeline-element-content:nth-child(odd):not(.vertical-timeline-element-content--left) {
  left: 5% !important;
}

.vertical-timeline-element-title {
  align-self: center;
  text-align: center;
  font-weight: 700;
}

.image {
  align-self: center;
  height: 20%;
  width: 30%;
}

.vertical-timeline-element-content.bounce-in {
  background-color: rgb(190, 187, 187);
}
