.container-messages {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 180px [col-start]);
  row-gap: 3pc;
  justify-content: space-around;
  align-items: center;
}

.item-messages {
  margin-left: -4rem;
  margin-top: 3rem;
  padding-right: 2.5%;
  width: 20pc;
  height: 35.5pc;
  position: relative;
  background-color: transparent !important;
  color: rgb(0, 0, 0) !important;
  display: flex;
  flex-direction: column;

  align-items: center;
  position: relative;
}
.item-messages .msg .btn {
  background-color: #9728f9;
  margin-bottom: 0;
  font-weight: 700;
}
.item-messages .msg {
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  background-color: #ff6347;
  margin-bottom: 9px;
  height: 65%;
  bottom: 3%;
  text-align: right;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 10%;
  align-content: flex-end;
  -webkit-clip-path: polygon(0 13%, 100% 0%, 100% 100%, 0 100%);
  clip-path: polygon(0 7.5%, 100% 0%, 100% 100%, 0 100%);
}
.item-messages .msg .content {
  top: 0;
}
.item-messages .bg-picture {
  background-size: cover;
  height: 100%;
  width: 100%;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  overflow: hidden;
  height: 35%;
  -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 100%);
  clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 100%);
}

.item-messages .bg-picture,
.item-messages .msg {
  position: absolute;
  width: 100%;
}

.item-messages .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-messages .item-pic {
  text-align: center;
  background-color: wheat;
  position: absolute;
  border: none;
  height: 15%;
  width: 25%;
  border-radius: 50%;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.3);
  left: 13%;
  top: 10rem;
  z-index: 1;
  transform: translateX(-50%);
  cursor: pointer;
}

/*Phones*/
@media only screen and (min-width: 320px) {
  .container-messages {
    grid-template-columns: repeat(1, 200px [col-start]);
    justify-content: center;
  }
  .item-messages {
    margin-left: 3em !important;
  }
}

/*galaxy fold*/
@media only screen and (min-width: 280px) and (max-width: 319px) {
  .container-messages {
    grid-template-columns: repeat(1, 180px [col-start]);
    justify-content: center;
  }
  .item-messages {
    margin-left: 4rem !important;
  }
}

/*iPhone 5*/
@media only screen and (max-width: 320px) and (max-height: 568px) {
  .container-messages {
    grid-template-columns: repeat(1, 200px [col-start]);
    justify-content: center;
  }

  .item-messages {
    left: 1em;
  }

  .item-messages .item-pic {
    width: 18%;
    height: 10%;
    top: 10.5rem;
  }
}

/*iPad*/
@media only screen and (min-width: 768px) and (max-width: 2048px) and (min-height: 600px) and (max-height: 2732px) {
  .container-messages {
    grid-template-columns: repeat(2, 180px [col-start]);
    justify-content: space-around;
  }

  .item-messages {
    left: -6em !important;
  }
}

/*laptops and bigger screens*/
@media only screen and (min-width: 1224px) {
  .container-messages {
    grid-template-columns: repeat(3, 180px [col-start]);
    justify-content: space-evenly;
  }
  .item-messages {
    left: -6rem !important;
  }
}
