@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Quicksand:wght@300&display=swap");

.container-sidebar {
  width: 100%;
  margin-left: 0;
}

#sidebar {
  background-color: gray !important;
}

.sidebar {
  width: 30%;
  height: 100%;
  transition: 1s ease;
  position: relative;
}

.main-content {
  width: 70%;
  height: 100%;
  background-color: #ccc;
  transition: 1s ease;
}

.main-content_large {
  width: 90%;
}

.sidebar_small {
  width: 25% !important;
}

.collapse-sidebar {
  position: absolute;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.3);
  left: 100%;
  top: 2rem;
  transform: translateX(-50%);
  cursor: pointer;
}

.dropdown-toggle {
  outline: 0;
}

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  color: white;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  background-color: transparent !important;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85) !important;
  background-color: #d2f4ea !important;
  font-weight: 700;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.btn-toggle:focus,
.btn-toggle:hover {
  font-weight: 700;
  font-size: 0.8rem;
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
  color: black !important;
  padding-left: 20px;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}
.lh-tight {
  line-height: 1.25;
}

.saksham {
  width: 100%;
  font-weight: 800;
  /* color: black; */
  overflow: hidden;
}
.sidebar-item {
  font-weight: 600;
  margin-left: 20px;
  padding-left: 5px;
  color: #d4d5d8 !important;
  background-color: transparent !important;
}

.sidebar-item:hover,
.sidebar-item:focus {
  color: rgba(0, 0, 0, 0.85) !important;
  background-color: #d2f4ea !important;
  font-size: 1rem;
  font-weight: 700;
}
.item-home {
  padding-left: 1.3rem;
}

.cButton::after {
  transform: rotate(180deg);
}
