@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Quicksand:wght@300&display=swap");

#saksham-home {
  display: block;
  height: 100%;
  width: 100%;
}

.saksham-slider .slider-text-content .learn {
  background-color: #9728f9;
  color: cornsilk;
  align-self: center;
  opacity: 1;
}

.saksham-slider .slider-text-content .learn:hover {
  color: silver;
}

.saksham-slider-content {
  height: 100%;
  min-height: 50%;
  position: relative;
}

.saksham-slider-content::before {
  content: "";
  display: block;
  position: absolute;
}

img .saksham-slider-image {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  display: block;
}

.slider-text-content {
  width: 65%;
  height: 70%;
  /* Center vertically and horizontally */
  position: absolute;
  top: 35%;
  left: 20%;
}

.slider-content {
  opacity: 1;
  transform: translate(-19px, -36px);
  transition: translate(-19px, -36px) 0.3s ease-in;
  top: 100%;
  font-family: "Amatic SC", cursive;
  font-size: 140%;
  font-weight: 400;
  height: 2%;
  line-height: 30%;
  z-index: 1;
  text-align: center;
}

.slider-heading {
  text-align: center;
  font-size: 150%;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  overflow-wrap: break-word;
  transform: rotateX(0) translateZ(0) !important;
  transition: transform 3s ease-in;
  z-index: 1;
}

.saksham-slider {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 480px) {
  #saksham-home {
    left: 25%;
  }
}

@media screen and (max-width: 2560px) {
  #saksham-home {
    left: 0;
  }
}
