@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Quicksand:wght@300&display=swap");

#saksham-home {
  display: flex;
  height: 70vh;
  width: fit-content;
}

.btn {
  background-color: #1f2e6c;
  color: cornsilk;
  align-self: center;
  opacity: 1;
}
.btn:hover {
  color: silver;
}
.carousel-item {
  height: fit-content;
  min-height: 100px;
  margin: auto;
  background: no-repeat scroll center scroll;
  background-size: contain;
}
.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
}
img {
  width: 100%;
  margin: auto;
  display: block;
  border-radius: 2pc;
}

.carousel-caption {
  width: fit-content;
  height: fit-content;
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px -50px -50px -15rem;
}
.slider-content {
  opacity: 1;
  transform: translate(-19px, -36px);
  transition: translate(-19px, -36px) 0.3s ease-in;
  top: 100%;
  left: 50%;
  font-family: "Amatic SC", cursive;
  font-size: 28px;
  font-weight: 400;
  height: 6px;
  line-height: 30px;
  z-index: 1000;
}

.slider-heading {
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  transform: rotateX(0) translateZ(0) !important;
  transition: transform 0.3s ease-in;
  z-index: 1000;
}

.coarousel-inner {
  height: fit-content;
  width: fit-content;
}
